@model iproby.Models.announ_details
<div class="row">
    <div style="width: 1100px; margin: 0 auto; display: table; ">
        <ul style="display: table-row;">
            <li style="display: table-cell; background-color: white; vertical-align: top; ">
                <div style="width: 240px; background-color: white; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; ">
                    <div style="text-align: center;width:100%;">
                    @{
    if (@Model.avatar != null)
    {
        <img src="~/Content/img/user_img/@Model.avatar" style="max-width:200px;max-height:400px;margin:0 auto;" alt="avatar" />
    }
    else
    {
                        <img src="~/Content/img/announ_no_photo.png" style="max-width:200px;max-height:400px;" alt="avatar" />
                        }
                    }
                    </div>
                    
                    <form role="form" action="/Cabinet/FileUpload" method='post' enctype='multipart/form-data' data-toggle="validator" data-disable=false data-delay=100>
                        <input type="file" class="form-control" name="file" style="width:90%;" /><br />
                        <input type="submit" class="btn btn-primary" style="width:90%;" name="Submit" id="SubmitSingle" value="Загрузить" />
                    </form>
                    
                    <div style="color: #115a56; font-family: Helvetica Bold; font-size: 16px; margin-top: 20px; line-height: 2; ">@Model.first_name</div>
                    <div style="font-family: Helvetica; font-size: 13px; float: left; width: 90%; height: 20px; color: #44beb7;line-height:1;">
                        <img src="~/Content/img/city_ico.png" style="padding-right:5px;" alt="address" />@Model.address
                    </div>
                    <br>

                    <div style="width: 200px; border-bottom: 2px solid #d9e1e5; float: left; margin-top:20px;"></div>
                    
                </div>
            </li>
            <li style="display: table-cell; background-color: #f6f8f9; vertical-align: top;  ">
                <div style="width: 320px; background-color: #f6f8f9; height:100%;">
                    <div style="height: 80px; width: 320px; background-color: #0d4549; display: table; vertical-align:middle;text-align:center;">
                        <div style="display: table; vertical-align: middle; text-align: center; width: 300px; height: 80px; margin: 0 auto; ">
                            @{
                                if (@Model.description != null)
                                 {
                                  <div style="height: 40px; display: table-cell;vertical-align: middle; text-align: center; ">
                                      <a class="edit_details" href="/Cabinet/EditDetails" style="display:block; margin: 0 auto; width: 135px; height: 40px;line-height:40px; background-color: #f5ab35; text-align: center; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; ">
                                          <img src="~/Content/img/header_top_reg_ico.png" style="margin-top: -5px; margin-right: 5px;  " alt="contacts" />
                                          <span style="font-family: Helvetica Bold; font-size: 14px; color: white;">КОНТАКТЫ</span>
                                      </a>
                                  </div>
                                  <div style="height: 40px; display: table-cell;vertical-align: middle; text-align: center; ">
                                      <a class="edit_details" href="/Cabinet/EditAnnoun" style="display:block;height: 40px; margin: 0 auto; width: 135px; height: 40px; line-height: 40px; background-color: #f5ab35; text-align: center; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; ">
                                          <img src="~/Content/img/header_top_reg_ico.png" style="margin-top:-5px; margin-right:5px;" alt="announ" />
                                          <span style="font-family: Helvetica Bold; font-size: 14px; color: white;">ОБЪЯВЛЕНИЕ</span>
                                      </a>
                                  </div>
                                }
                            }
                        </div>
                    </div>
                    <div style="padding: 20px 25px 20px 20px; ">
                        <div style="height:40px;">
                            <img src="~/Content/img/phone.png" style="padding-right:10px;" alt="phone" /><span style="font-family: Helvetica Bold; font-size: 14px; color: #00a79d;">Мобильный</span>
                            <span style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #454545; ">@Model.mobile</span>
                        </div>
                        <div style="height:40px;">
                            <img src="~/Content/img/announ_skype_ico.png" style="padding-right:10px;" alt="skype" /><span style="font-family: Helvetica Bold; font-size: 14px; color: #00a79d;">Skype</span>
                            <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; ">@{
                                if (@Model.skype!=null)
                                {
                                    <span style="text-decoration:underline;">@Model.skype</span>
                                }
                                else      
                                {
                                    <div style="float: right; font-family: Helvetica; font-size: 14px; color: #d1d4d5; ">не указано</div>
                                }
                            }</div>
                        </div>
                        <div style="height:40px;">
                            <img src="~/Content/img/announ_letter_ico2.png" style="padding-right:10px;" alt="letter" /><span style="font-family: Helvetica Bold; font-size: 14px; color: #00a79d;">Email</span>
                            <div style="float: right; text-align:right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; width:180px;text-decoration:underline;" id="resize_div">
                                <div id="mob_zoom" >@Model.email</div>
                            </div>
                            <script>
                                if (document.getElementById("resize_div").offsetHeight < document.getElementById("resize_div").scrollHeight ||
                                    document.getElementById("resize_div").offsetWidth < document.getElementById("resize_div").scrollWidth) {
                                    document.getElementById("mob_zoom").style.zoom = 0.8; 
                                } 
                             </script>
                        </div>
                        <div style="height:40px;font-family: Helvetica Bold; font-size: 14px; color: #446cb3; ">
                            <img src="~/Content/img/announ_site_ico.png" style="padding-right:10px;" alt="site" /><span style="font-family: Helvetica Bold; font-size: 14px;color: #00a79d;">Site</span>
                            <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; ">
                                @{ if (@Model.site != null)
                                    {
                                        <span style="text-decoration:underline; text-align:right;">@Model.site</span>
                                    }
                                    else
                                    {
                                        <div style="float: right; font-family: Helvetica; font-size: 14px; color: #d1d4d5; ">не указано</div>
                                    }
                                }
                            </div>
                            </div>
                        <div style="width: 280px; border-bottom: 1px solid #d9e1e5; float: left; margin-top:10px;"></div>
                        <div style="height:30px;margin-top:30px;font-family: Helvetica Bold; font-size: 14px; color: #446cb3;">
                            <span style="font-family: Helvetica ; font-size: 14px; color: #00a79d;">Facebook</span>
                            <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; ">
                                @{ if (@Model.facebook != null)
                                    {
                                        <span style="text-decoration:underline;">@Model.facebook</span>
                                    }
                                    else
                                    {
                                        <div style="float: right; font-family: Helvetica; font-size: 14px; color: #d1d4d5; ">не указано</div>
                                    }
                                }
                            </div>
                        </div>
                            <div style="height:30px;font-family: Helvetica Bold; font-size: 14px; color: #446cb3;">
                                <span style="font-family: Helvetica ; font-size: 14px; color: #00a79d;">Вконтакте</span>
                                <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; ">
                                    @{ if (@Model.vkontakte != null)
                                        {
                                            <span style="text-decoration:underline;">@Model.vkontakte</span>
                                        }
                                        else
                                        {
                                            <div style="float: right; font-family: Helvetica; font-size: 14px; color: #d1d4d5; ">не указано</div>
                                        }
                                    }
                                </div>
                            </div>
                            <div style="height:30px;font-family: Helvetica Bold; font-size: 14px; color: #446cb3;">
                                <span style="font-family: Helvetica ; font-size: 14px; color: #00a79d;">ICQ</span>
                                <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; ">
                                    @{ if (@Model.icq != null)
                                        {
                                            <span style="text-decoration:underline;">@Model.icq</span>
                                        }
                                        else
                                        {
                                            <div style="float: right; font-family: Helvetica; font-size: 14px; color: #d1d4d5; ">не указано</div>
                                        }
                                    }
                                </div>
                            </div>
                    </div>
                </div>
            </li>
            <li style="display: table-cell; height: 100%; background-color: white; vertical-align: top;">
                <div style="width: 540px; background-color: white; padding: 20px; height: 100%; display:table; vertical-align:top;">
                    <div style="display:table-row;">
                        <div style="display:table-cell;">
                            
                                <div style="font-family: Helvetica Bold; font-size: 18px; color: #446cb3; text-decoration:underline;">@Model.header</div>
                            
                        </div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell;">
                            <div style="font-family: Helvetica; font-size: 14px; color: #44beb7;"><br/>Цены: <span style="color: #43af73; font-family: Helvetica Bold; ">@Model.price</span></div>
                        </div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell;">
                            <div style=" margin-top: 20px; color: #00a79d; font-family: Helvetica Bold; font-size: 14px; ">О себе:</div>
                            <div style=" font-family: Helvetica; font-size: 14px; color: #446cb3;">
                                @Model.about
                            </div>
                            <div style="width: 500px; border-bottom: 1px solid #d9e1e5;  margin-top:15px;"></div>
                        </div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell;">
                            <div style="font-family: Helvetica; font-size: 14px;  margin-top: 10px; line-height: 2; min-height: 100%; ">
                                @Html.Raw(Model.description)
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul style="display:table-row;">
            <li style="display: table-cell; background-color: white;"></li>
            <li style="display: table-cell; background-color: #f6f8f9;"></li>
            <li style="display:table-cell;background-color:white;height:50px;">
               
            </li>
        </ul>
    </div>
</div>