@model iproby.Models.announ_details
<div class="row">
    <div style="width: 1100px; margin: 0 auto; display: table; ">
        <ul style="display: table-row;">
            <li style="display: table-cell; background-color: white; vertical-align: top; ">
                <div style="width: 240px; background-color: white; padding-left: 20px; padding-top: 20px; padding-bottom: 20px; ">
                    <img src="~/Content/img/announ_no_photo.png" />
                    <div style="color: #115a56; font-family: Helvetica Bold; font-size: 16px; margin-top: 20px; line-height: 2; ">@Model.first_name</div>
                    <div style="font-family: Helvetica; font-size: 13px; float: left; width: 130px; height: 20px; color: #44beb7;line-height:1;">
                        <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />@Model.address
                    </div>
                    <br>

                    <div style="width: 200px; border-bottom: 2px solid #d9e1e5; float: left; margin-top:20px;"></div>
                    <div style="float: left; margin-top: 20px; color: #00a79d; font-family: Helvetica Bold; font-size: 14px; ">О себе:</div>
                    <div style="float: left; font-family: Helvetica; font-size: 14px; color: #446cb3;">
                        @Model.about
                    </div>
                </div>
            </li>
            <li style="display: table-cell; background-color: #f6f8f9; vertical-align: top;  ">
                <div style="width: 320px; background-color: #f6f8f9; height:100%;">
                    <div style="height: 80px; width: 320px; background-color: #0d4549; display: table; vertical-align:middle;text-align:center;">
                        <div style="display: table; vertical-align: middle; text-align: center; width: 300px; height: 80px; margin: 0 auto; ">
                            <div style="height: 40px; display: table-cell;vertical-align: middle; text-align: center; ">
                                <a class="edit_details" href="/Cabinet/EditDetails" style="display:block; margin: 0 auto; width: 135px; height: 40px;line-height:40px; background-color: #f5ab35; text-align: center; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url(border-radius.htc); ">
                                    <img src="~/Content/img/header_top_reg_ico.png" style="margin-top: -5px; margin-right: 5px;  " />
                                    <span style="font-family: Helvetica Bold; font-size: 14px; color: white;">КОНТАКТЫ</span>
                                </a>
                            </div>
                            <div style="height: 40px; display: table-cell;vertical-align: middle; text-align: center; ">
                                <a class="edit_details" href="/Cabinet/EditAnnoun" style="display:block;height: 40px; margin: 0 auto; width: 135px; height: 40px; line-height: 40px; background-color: #f5ab35; text-align: center; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; behavior: url(border-radius.htc);">
                                    <img src="~/Content/img/header_top_reg_ico.png" style="margin-top:-5px; margin-right:5px;" />
                                    <span style="font-family: Helvetica Bold; font-size: 14px; color: white;">ОБЪЯВЛЕНИЕ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 20px 25px 20px 20px; ">
                        <div style="height:30px;">
                            <img src="~/Content/img/phone.png" style="padding-right:10px;" /><span style="font-family: Helvetica Bold; font-size: 14px; color: #00a79d;">Мобильный</span>
                            <span style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #454545; ">@Model.mobile</span>
                        </div>
                        <div style="height:30px;">
                            <img src="~/Content/img/phone.png" style="padding-right:10px;" /><span style="font-family: Helvetica Bold; font-size: 14px; color: #00a79d;">Мобильный</span>
                            <span style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #454545; ">@Model.mobile</span>
                        </div>
                        <div style="height:30px;">
                            <img src="~/Content/img/announ_skype_ico.png" style="padding-right:10px;" /><span style="font-family: Helvetica Bold; font-size: 14px; color: #00a79d;">Skype</span>
                            <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; border-bottom: 1px solid #446cb3;">@Model.skype</div>
                        </div>
                        <div style="height:30px;">
                            <img src="~/Content/img/announ_letter_ico2.png" style="padding-right:10px;" /><span style="font-family: Helvetica Bold; font-size: 14px; color: #00a79d;">Email</span>
                            <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; border-bottom: 1px solid #446cb3;">@Model.email</div>
                        </div>
                        <div style="height:30px;">
                            <img src="~/Content/img/announ_site_ico.png" style="padding-right:10px;" /><span style="font-family: Helvetica Bold; font-size: 14px; color: #00a79d;">Site</span>
                            <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; border-bottom: 1px solid #446cb3;">test</div>
                        </div>
                        <div style="width: 280px; border-bottom: 1px solid #d9e1e5; float: left; margin-top:10px;"></div>
                        <div style="height:30px;margin-top:30px;">
                            <span style="font-family: Helvetica ; font-size: 14px; color: #00a79d;">Twitter</span>
                            <div style="float: right; font-family: Helvetica; font-size: 14px; color: #d1d4d5; ">не указано</div>
                        </div>
                        <div style="height:30px;">
                            <span style="font-family: Helvetica ; font-size: 14px; color: #00a79d;">Facebook</span>
                            <div style="float: right; font-family: Helvetica; font-size: 14px; color: #d1d4d5; ">не указано</div>
                        </div>
                        <div style="height:30px;">
                            <span style="font-family: Helvetica ; font-size: 14px; color: #00a79d;">Вконтакте</span>
                            <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; border-bottom: 1px solid #446cb3;">test</div>
                        </div>
                        <div style="height:30px;">
                            <span style="font-family: Helvetica ; font-size: 14px; color: #00a79d;">Одноклассники</span>
                            <div style="float: right; font-family: Helvetica Bold; font-size: 14px; color: #446cb3; border-bottom: 1px solid #446cb3;">test</div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="display: table-cell; height: 100%; background-color: white; vertical-align: top;">
                <div style="width: 540px; background-color: white; padding: 20px; height: 100%;  ">
                    <div>
                        <div style="width:100%;height:30px;">
                            <div style="font-family: Helvetica Bold; font-size: 18px; color: #446cb3; border-bottom: 1px solid #446cb3; float: left; height: 23px;">@Model.header</div>
                        </div>
                        <div style="font-family: Helvetica; font-size: 14px; color: #44beb7;">Цена: <span style="color: #43af73; font-family: Helvetica Bold; ">@Model.price</span></div>
                    </div>
                    <div style="width: 500px; border-bottom: 1px solid #d9e1e5; float: left; margin-top:15px;"></div>
                    <div style="font-family: Helvetica; font-size: 14px; float: left; margin-top: 10px; line-height: 2; min-height: 100%; ">
                        @Model.description
                    </div>
                </div>
            </li>
        </ul>
        <ul style="display:table-row;">
            <li style="display: table-cell; background-color: white;"></li>
            <li style="display: table-cell; background-color: #f6f8f9;"></li>
            <li style="display:table-cell;background-color:white;height:50px;">
               
            </li>
        </ul>
    </div>
</div>