@{
    ViewBag.Title = "Редактирование настроек";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderTop{
    @Html.Partial(Url.Content("~/Views/Home/HeaderTop.cshtml"))
}
@section SiteMap{
    @Html.Partial(Url.Content("~/Views/Announ/SiteMap.cshtml"))
}
@section EditOptions{

    @if (Session["login"] != null )
    {
        @Html.Partial(Url.Content("~/Views/Cabinet/Options.cshtml"))
    }
    else
    {
        @Html.Partial(Url.Content("~/Views/Cabinet/NoAuthorization.cshtml"))
    }
    <div class="row" style="height:55px;width:100%;">
    </div>
}
@section News{
    @Html.Partial(Url.Content("~/Views/News/Index.cshtml"))
}
@section Footer{
    @Html.Partial(Url.Content("~/Views/Home/Footer.cshtml"))
}
