@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderTop{
    @Html.Partial(Url.Content("~/Views/Home/HeaderTop.cshtml"))
}

@section MainMenu{
    @Html.Partial(Url.Content("~/Views/Cabinet/MainMenu.cshtml"))
}

@section AnnounInfo{
@if (ViewData["isSaved"] != null && ViewData["isSaved"].ToString() == "isSaved")
{
    @Html.Partial(Url.Content("~/Views/Cabinet/SaveDetailsResult.cshtml"))
}

@if (ViewData["login"] != null && ViewData["login"].ToString() == "isLogin")
{
    @Html.Partial(Url.Content("~/Views/Cabinet/AnnounInfo.cshtml"))
}
else
{
    @Html.Partial(Url.Content("~/Views/Cabinet/NoAuthorization.cshtml"))
}
<div class="row" style="height:55px;width:100%;">

    </div>
}



@section News{
    @Html.Partial(Url.Content("~/Views/News/Index.cshtml"))
}

@section Footer{
    @Html.Partial(Url.Content("~/Views/Home/Footer.cshtml"))
}

