<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderPage("~/Views/Home/Head.cshtml")

</head>
<body>
    <div class="container">
        <div class="modal fade" id="myDialog">
            <div class="modal-dialog">
                <div class="modal-content" id="myContent">
                </div>
            </div>
        </div>


        @if (IsSectionDefined("AddClients"))
        {
            @RenderSection("AddClients")
        }
        @if (IsSectionDefined("HeaderTop"))
        {
            @RenderSection("HeaderTop")
        }
        @if (IsSectionDefined("HeaderMiddle"))
        {
            @RenderSection("HeaderMiddle")
        }
        @if (IsSectionDefined("ButtonsHead"))
        {
            @RenderSection("ButtonsHead")
        }
        @if (IsSectionDefined("CategoriesMin"))
        {
            @RenderSection("CategoriesMin")
        }
        @if (IsSectionDefined("Categories"))
        {
            @RenderSection("Categories")
        }
        @if (IsSectionDefined("AddRequest"))
        {
            @RenderSection("AddRequest")
        }
        @if (IsSectionDefined("SiteMap"))
        {
            @RenderSection("SiteMap")
        }
        @if (IsSectionDefined("AnnounInfo"))
        {
            @RenderSection("AnnounInfo")
        }
        @if (IsSectionDefined("Announs"))
        {
            @RenderSection("Announs")
        }
        @if (IsSectionDefined("News"))
        {
            @RenderSection("News")
        }
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }

    </div>
    <script src="~/Scripts/main.js"></script>

    @RenderBody()



</body>
</html>
