<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    @RenderPage("~/Views/Home/Head.cshtml")

</head>
<body>
    <div class="container">
        <div class="modal fade" id="myDialog">
            <div class="modal-dialog">
                <div class="modal-content" id="myContent">
                </div>
            </div>
        </div>
        <div class="" id="dialogAddClients">
            
        </div>


        @if (IsSectionDefined("AddClients"))
        {
            @RenderSection("AddClients")
        }
        @if (IsSectionDefined("AddWorkers"))
        {
            @RenderSection("AddWorkers")
        }
        @if (IsSectionDefined("HeaderTop"))
        {
            @RenderSection("HeaderTop")
        }
        @if (IsSectionDefined("HeaderMiddle"))
        {
            @RenderSection("HeaderMiddle")
        }
        @if (IsSectionDefined("ButtonsHead"))
        {
            @RenderSection("ButtonsHead")
        }
        @if (IsSectionDefined("CategoriesMin"))
        {
            @RenderSection("CategoriesMin")
        }
        @if (IsSectionDefined("Categories"))
        {
            @RenderSection("Categories")
        }
        @if (IsSectionDefined("Description"))
        {
            @RenderSection("Description")
        }
        @if (IsSectionDefined("AddRequest"))
        {
            @RenderSection("AddRequest")
        }
        @if (IsSectionDefined("SiteMap"))
        {
            @RenderSection("SiteMap")
        }
        @if (IsSectionDefined("MainMenu"))
        {
            @RenderSection("MainMenu")
        }
        @if (IsSectionDefined("MyMessages"))
        {
            @RenderSection("MyMessages")
        }
        @if (IsSectionDefined("AnnounContent"))
        {
            @RenderSection("AnnounContent")
        }
        @if (IsSectionDefined("AnnounInfo"))
        {
            @RenderSection("AnnounInfo")
        }
        @if (IsSectionDefined("EditOptions"))
        {
            @RenderSection("EditOptions")
        }
        @if (IsSectionDefined("About"))
        {
            @RenderSection("About")
        }
        @if (IsSectionDefined("Contacts"))
        {
            @RenderSection("Contacts")
        }
        @if (IsSectionDefined("Announs"))
        {
            @RenderSection("Announs")
        }
        @if (IsSectionDefined("ReviewBlock"))
        {
            @RenderSection("ReviewBlock")
        }
        @if (IsSectionDefined("News"))
        {
            @RenderSection("News")
        }
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }

    </div>
    <script src="~/Scripts/main.js"></script>

    @RenderBody()



</body>
</html>
