<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/skeleton.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Validator.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div class="container">
        @if (IsSectionDefined("Registration"))
        {
            @RenderSection("Registration")
        }
        @if (IsSectionDefined("Login"))
        {
            @RenderSection("Login")
        }
        <div class="row header_top">
            <div class="col-md-1"></div>
            <div class="col-md-1"><img src="~/Content/img/ipro_header_top.png" /></div>
            <div class="col-md-1"><a href="#" style="color:white;">ГЛАВНАЯ</a></div>
            <div class="col-md-1"><a href="#" style="color:white;">О НАС</a></div>
            <div class="col-md-1"><a href="#" style="color:white;">КОНТАКТЫ</a></div>
            <div class="col-md-1"><a href="#" style="color:white;">ФОРУМ</a></div>
            <div class="col-md-1"></div>
            @*<div class="col-md-1"></div>*@
            <div class="col-md-1"></div>
            <div class="col-md-1 enter" id="enter"><img src="~/Content/img/header_top_login_ico.png" style="margin-left:-10px;padding-right:5px;padding-bottom:3px;" />ВОЙТИ<div style="background-color: #f5ab35; height: 4px; width: 117.656px; margin-left: -16px; "></div></div>
            <div class="col-md-2 registration" css="custom"><img src="~/Content/img/header_top_reg_ico.png" style="margin-left:-10px;padding-right:10px;" />РЕГИСТРАЦИЯ</div>
            <div class="col-md-1 right_after_reg"></div>
        </div>
        <div class="row header_middle" style="background-color: #ececec; padding: 10px 10px 10px 10px; height: 530px; background: -webkit-linear-gradient(white, #ececec); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(white, #ececec); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(white, #ececec); /* For Firefox 3.6 to 15 */ background: linear-gradient(white, #ececec); /* Standard syntax */ ">
            <div class="col-md-6" style="  padding-left: 0; padding-right: 0;">
                <div style="background-image: url(/Content/img/header_middle_left.png);width:770px;height:510px;">
                    <div style="width:380px;height:95px;background-color:#446cb3;margin-left:390px;margin-top:105px;float:left; display:table;padding-left:30px;">
                        <div style="color:white;font-size:16px;font-family:Helvetica Bold;width:380px;height:95px;vertical-align: middle;display:table-cell;">iPro - сервис для привлечения клиентов и поиска работников</div>
                    </div>
                    <div style="width: 300px; height: 300px; background-color: #44b275; margin-left: 270px; margin-top: 10px; float: left; text-align:center;">
                        <div style="color: white; font-family: Helvetica Bold; font-size: 16px; vertical-align: middle; display: table-cell; width: 300px; padding-top:30px;">Что получает клиент?</div>

                        <div style="color: white; font-family: Helvetica; height: 120px; width: 300px; text-align: left; margin-top:20px;line-height:2;font-size:14px;">
                            <ul>
                                <li style="list-style-image: url(/Content/img/header_middle_left_li.png)">Выбор лучших работников</li>
                                <li style="list-style-image: url(/Content/img/header_middle_left_li.png)">Возможность оценить работу</li>
                                <li style="list-style-image: url(/Content/img/header_middle_left_li.png)">Поиск только по нужным критериям</li>
                                <li style="list-style-image: url(/Content/img/header_middle_left_li.png)">Возможность общения с работником напрямую</li>
                            </ul>
                        </div>
                        <div class="header_middle_left_btn" style="">Ищу работника</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style=" padding-left: 0; padding-right: 0;">
                <div style="background-image: url(/Content/img/header_middle_right.png);width:600px;height:510px;margin-left:90px;">
                    <div style="width: 300px; height: 300px; background-color: #f5ab35; margin-left: 0px; margin-top: 0px; float: left; text-align: center;">
                        <div style="color: white; font-family: Helvetica Bold; font-size: 16px; vertical-align: middle; display: table-cell; width: 300px; padding-top:30px;">Что получает работник?</div>

                        <div style="color: white; font-family: Helvetica; height: 120px; width: 300px; text-align: left; margin-top:20px;line-height:2;font-size:14px;">
                            <ul>
                                <li style="list-style-image: url(/Content/img/header_middle_right_li.png)">Качественная ротация</li>
                                <li style="list-style-image: url(/Content/img/header_middle_right_li.png)">Большое количество просмотров</li>
                                <li style="list-style-image: url(/Content/img/header_middle_right_li.png)">Репутационные характеристики</li>
                                <li style="list-style-image: url(/Content/img/header_middle_right_li.png)">Возможность общения с клиентом напрямую</li>
                            </ul>
                        </div>
                        <div class="header_middle_right_btn" style="">Ищу клиентов</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row category" style="height:340px;">
            <div class="col-md-2 category_left_clear"></div>
            <div class="col-md-2" style="width: 275px;">
                <img src="~/Content/img/category_comp_top.png" style="margin-top:40px;" />
                <div style="height: 65px; font-family: Helvetica Bold; font-size: 23px; line-height:2.8;">Компьютеры</div>
                <ul style="text-align:left;">
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_comp_li_ico_1.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Ремонт компьютеров</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_comp_li_ico_2.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Ремонт оргтехники</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_comp_li_ico_3.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Обслуживание LAN</a></li>
                </ul>
            </div>
            <div class="col-md-2" style="width: 275px;">
                <img src="~/Content/img/category_internet_top.png" style="margin-top:40px;" />
                <div style="height: 65px; font-family: Helvetica Bold; font-size: 23px; line-height:2.8;">Интернет</div>
                <ul style="text-align:left;">
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_internet_li_ico_1.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Создание сайтов</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_internet_li_ico_2.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Продвижение реклама</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_internet_li_ico_3.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Дизан</a></li>
                </ul>
            </div>
            <div class="col-md-2" style="width: 275px; ">
                <img src="~/Content/img/category_mobile_top.png" style="margin-top:40px;" />
                <div style="height: 65px; font-family: Helvetica Bold; font-size: 23px; line-height:2.8;">Мобильные</div>
                <ul style="text-align:left;">
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_mobile_li_ico_1.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Ремонт телефонов</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_mobile_li_ico_2.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Ремонт навигаторов</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_mobile_li_ico_3.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Ремонт аксессуаров</a></li>
                </ul>
            </div>
            <div class="col-md-2" style="width: 275px; ">
                <img src="~/Content/img/category_edu_top.png" style="margin-top:40px;" />
                <div style="height: 65px; font-family: Helvetica Bold; font-size: 23px; line-height:2.8;">Образование</div>
                <ul style="text-align:left;">
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_edu_li_ico_1.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Контрольные работы</a></li>
                    <li style="list-style: none; width:250px; padding-left: 30px; margin-left:0px;background: url(/Content/img/category_edu_li_ico_2.png) no-repeat left; font-family: Helvetica; font-size: 17px; color: #446cb3; line-height: 1.9; "><a href="#">Репетиторы</a></li>

                </ul>
            </div>
            <div class="col-md-2 category_right_clear"></div>
        </div>
        <div class="row announs" style="height: 1500px; background: -webkit-linear-gradient(#e9e9e9, white); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(#e9e9e9, white); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(#e9e9e9, white); /* For Firefox 3.6 to 15 */ background: linear-gradient(#e9e9e9, white); /* Standard syntax */ ">
            <div style="padding-top: 28px; margin: 0 auto; margin-top: 33px; width: 1100px; height: 100px; background-color: #44b375; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ ">
                <div style="margin-left:30px; width: 880px; height: 45px; background-color: white; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ ">
                    <input type="text" style="text-indent: 20px; font-family: Helvetica; font-size: 14px; color: #c2c4c7;width: 880px; height: 45px; border: none; -moz-border-radius: 4px; /* Firefox */ -webkit-border-radius: 4px; /* Safari, Chrome */ -khtml-border-radius: 4px; /* KHTML */ border-radius: 4px; /* CSS3 */ /* Для плохих IE */ behavior: url(border-radius.htc); /* учим IE border-radius */ " value="Введите ключевое слово. Например: биология" />
                </div>
                <div class="find_btn">

                    <img src="~/Content/img/find_ico.png" style="margin-left:-15px;margin-top:-5px;" /> <span style="font-family: Helvetica Bold; font-size: 16px; line-height: 2.8;color:white;margin-left:6px;">НАЙТИ</span>
                </div>
            </div>
            <div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
                <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
                    <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
                    <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
                    <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                        <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
                    </div>
                    <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
                    <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                        <img src="~/Content/img/announ_social_skype.png" />
                        <img src="~/Content/img/announ_social_vkontakte.png" />
                        <img src="~/Content/img/announ_social_odnoklass.png" />
                        <img src="~/Content/img/announ_social_facebook.png" />
                        <img src="~/Content/img/announ_social_twitter.png" />
                        <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
                    </div>
                </div>
                <div style="width:855px;height:170px;float:left;display:table;">
                    <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
                    <div style="margin-left: 20px; ">
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_inactive.png" />
                    </div>
                    <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                    </div>
                    <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                        <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;"/>26 сентябрь, 2016
                        <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; "/>2.393
                        <img src="~/Content/img/like_dislike.png" style="float:right;margin-right:30px;margin-top:18px;" />
                        </div>
                </div>
            </div>
            <div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
                <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
                    <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
                    <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
                    <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                        <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
                    </div>
                    <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
                    <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                        <img src="~/Content/img/announ_social_skype.png" />
                        <img src="~/Content/img/announ_social_vkontakte.png" />
                        <img src="~/Content/img/announ_social_odnoklass.png" />
                        <img src="~/Content/img/announ_social_facebook.png" />
                        <img src="~/Content/img/announ_social_twitter.png" />
                        <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
                    </div>
                </div>
                <div style="width:855px;height:170px;float:left;display:table;">
                    <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
                    <div style="margin-left: 20px; ">
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_inactive.png" />
                    </div>
                    <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                        <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                        <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
                    </div>
                </div>
            </div>
            <div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
                <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
                    <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
                    <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
                    <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
                        <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
                    </div>
                    <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
                    <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

                        <img src="~/Content/img/announ_social_skype.png" />
                        <img src="~/Content/img/announ_social_vkontakte.png" />
                        <img src="~/Content/img/announ_social_odnoklass.png" />
                        <img src="~/Content/img/announ_social_facebook.png" />
                        <img src="~/Content/img/announ_social_twitter.png" />
                        <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
                    </div>
                </div>
                <div style="width:855px;height:170px;float:left;display:table;">
                    <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
                    <div style="margin-left: 20px; ">
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_active.png" />
                        <img src="~/Content/img/star_inactive.png" />
                    </div>
                    <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
                        <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
                        <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
                    </div>
                </div>
            </div><div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
    <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
        <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
        <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
        <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
            <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
        </div>
        <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
        <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

            <img src="~/Content/img/announ_social_skype.png" />
            <img src="~/Content/img/announ_social_vkontakte.png" />
            <img src="~/Content/img/announ_social_odnoklass.png" />
            <img src="~/Content/img/announ_social_facebook.png" />
            <img src="~/Content/img/announ_social_twitter.png" />
            <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
        </div>
    </div>
    <div style="width:855px;height:170px;float:left;display:table;">
        <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
        <div style="margin-left: 20px; ">
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_inactive.png" />
        </div>
        <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
            <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
            <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
        </div>
    </div>
</div><div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
    <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
        <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
        <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
        <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
            <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
        </div>
        <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
        <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

            <img src="~/Content/img/announ_social_skype.png" />
            <img src="~/Content/img/announ_social_vkontakte.png" />
            <img src="~/Content/img/announ_social_odnoklass.png" />
            <img src="~/Content/img/announ_social_facebook.png" />
            <img src="~/Content/img/announ_social_twitter.png" />
            <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
        </div>
    </div>
    <div style="width:855px;height:170px;float:left;display:table;">
        <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
        <div style="margin-left: 20px; ">
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_inactive.png" />
        </div>
        <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
            <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
            <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
        </div>
    </div>
</div><div class="row announ" style="width:1100px;height:170px;background-color:white;margin:0 auto;margin-top:30px;">
    <div style="width: 240px; height: 170px; border-right: 5px solid #f6f8f9;float:left;">
        <img src="~/Content/img/no_logo.png" style="margin-left: 20px;margin-top:20px;margin-right:20px; float: left;" />
        <div style="font-family: Helvetica Bold; font-size: 14px; float: left; margin-top: 20px; width: 130px; height: 40px; color: #115a56;">Эльвира Семеновна</div>
        <div style="font-family: Helvetica; font-size: 11px; float: left; width: 130px; height: 20px; color: #44beb7;">
            <img src="~/Content/img/city_ico.png" style="padding-right:5px;" />Минск
        </div>
        <div style="margin-left:40px;float:left;margin-top:5px;"><img src="~/Content/img/phone.png" style="padding-right:5px;" /><span style="font-family: Helvetica Bold; font-size: 12px; color: #00a79d;">mobile +7 (123) 456-55-88</span></div>
        <div class="social_band" style="margin-top: 10px; float: left; padding:8px; margin-left: 20px; width: 200px; height: 40px; background: url(/Content/img/announ_social_bg.png) no-repeat left; background-size: 195px 40px; ">

            <img src="~/Content/img/announ_social_skype.png" />
            <img src="~/Content/img/announ_social_vkontakte.png" />
            <img src="~/Content/img/announ_social_odnoklass.png" />
            <img src="~/Content/img/announ_social_facebook.png" />
            <img src="~/Content/img/announ_social_twitter.png" />
            <span style="font-family: Helvetica Bold; font-size: 10px; color: #00a79d; ">ОБО МНЕ</span>
        </div>
    </div>
    <div style="width:855px;height:170px;float:left;display:table;">
        <div style="font-family: Helvetica Bold; font-size: 16px; color: #446cb3; margin-left: 20px; margin-top: 17px;"><a href="#" style=" border-bottom: 1px solid #446cb3; text-decoration: none;">Веб дизайнер</a></div>
        <div style="margin-left: 20px; ">
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_active.png" />
            <img src="~/Content/img/star_inactive.png" />
        </div>
        <div style="font-family: Helvetica; font-size: 12px; line-height: 2; margin-left: 20px; ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div style=" color: #888888; font-family: Helvetica; font-size: 11px; display:table-row;">
            <img src="~/Content/img/calendar_ico.png" style="padding-right: 5px; margin-top: -3px; margin-left: 20px;" />26 сентябрь, 2016
            <img src="~/Content/img/view_ico.png" style="margin-left: 25px; padding-right: 5px; margin-top: -3px; " />2.393
        </div>
    </div>
</div>
        </div>
    </div>

    @RenderBody()
    <script src="~/Scripts/main.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
